<section class="newsletter">
    <div class="newsletter__container">
        <h3 class="newsletter__title">
            {{mixins.icon('letter')}}
            s’abonner à la newsletter
        </h3>
        <p class="newsletter__text">
            Deux fois par mois, un concentré de l’actualité du marché, des évolutions juridiques, de l’observatoire des prix… Des informations privilèges, pour découvrir, en 2 minutes, tout ce que vous devez savoir !
        </p>
        
        <form class="newsletter__form" id="newsletter">
            <div class="newsletter__form-wrapper">
                <div class="newsletter__email-wrapper">
                    <input class="newsletter__email"
                        id="newsletter-email" 
                        type="text" 
                        placeholder="Email" 
                        name="email">
                </div>
                <div class="newsletter__company-wrapper">
                    <input class="newsletter__company" 
                        id="newsletter-company" 
                        type="text" 
                        placeholder="Société" 
                        name="company">
                </div>
                <div class="newsletter__submit-wrapper">
                    <button class="newsletter__submit" 
                        id="newsletter-submit" 
                        type="submit">
                            valider
                    </button>
                </div>
            </div>
        </form>
        
    </div>
</section>