<div class="tabs">
    <h2 class="tabs__title">
        donnez vie à votre opération immobilière,
        <span class="tabs__title-accent">rapidement et simplement,</span> en partenariat avec
        <span class="tabs__title-accent">une équipe dédiée,</span> proche de vous
    </h2>
    <div class="tabs__button-wrapper">
        {% import "data/tabs-button.html" as button %}
    
        {% for button in button.list %}
            <button class="tabs__button {% if button.active %} {{button.active}} {% endif %}">
                <div class="tabs__icon">
                    {{mixins.icon(button.icon)}}
                </div>
                <h4 class="tabs__stage">
                    {{button.stage}}
                </h4>
                <p class="tabs__text">
                    {{button.text}}
                </p>
            </button>
        {% endfor %}
    </div>
    <div class="tabs__content-wrapper">
        {% import "data/tabs-data.html" as data %}
    
        {% for data in data.list %}
            <div class="tabs__content {% if data.active %} {{data.active}} {% endif %}">
                <p>
                    {{data.text}}
                </p>
            </div>
        {% endfor %}
    </div>

</div>
