{% set 
list = [
	{
		text: 'Présentation par le futur partenaire d’un site (foncier, localisation), d’une faisabilité de construction,
		présentation d’une faisabilité financière du projet. ',
		active: 'tabs__content--active'
	},
	{
		text: 'Présentation par le futur partenaire d’un site (foncier, localisation), d’une faisabilité de construction,
		présentation d’une faisabilité financière du projet. '
	},
	{
		text: 'Présentation par le futur partenaire d’un site (foncier, localisation), d’une faisabilité de construction,
		présentation d’une faisabilité financière du projet. '
	},
	{
		text: 'Présentation par le futur partenaire d’un site (foncier, localisation), d’une faisabilité de construction,
		présentation d’une faisabilité financière du projet. '
	},
	{
		text: 'Présentation par le futur partenaire d’un site (foncier, localisation), d’une faisabilité de construction,
		présentation d’une faisabilité financière du projet. '
	}
] 
%}