{% set 
    list = [
        {
            icon: 'wood',
            stage: 'étape 1',
            text: 'Présentation de votre dossier',
            active: 'tabs__button--active'
        },
        {
            icon: 'book',
            stage: 'étape 2',
            text: 'Présentation de votre dossier'
        },
        {
            icon: 'list',
            stage: 'étape 3',
            text: 'Elaboration des pièces contractuelles'
        },
        {
            icon: 'pen',
            stage: 'étape 4',
            text: 'Signature des accords'
        },
        {
            icon: 'compas',
            stage: 'étape 5',
            text: 'Lancement commercial'
        }
    ] 
%}