<nav class="main-nav">
    <ul class="main-nav__list" aria-role="list">
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Qui sommes-nous ?</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Services</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Témoignages</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Actualités</a>
        </li>
    </ul>
</nav>