.icon-arrow {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-book {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-compas {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelop {
  width: 1.69em;
  height: 1em;
  fill: initial;
}
.icon-letter {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-pen {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-wood {
  width: 1em;
  height: 1em;
  fill: initial;
}
